:root {
    --color-principal-background: #3498db;
    --color-principal-blanco: rgb(255, 255, 255);
    --font-size: 16px;
    --color-link-activo: #42539a;
  }

*{
    margin:0px;
    padding:0px;
    /* color: aqua; */
}

/* UNIDADES DE MEDIDA
Medidas absolutas y relativas: 
absolutas y relativas:
absolutas: 
px, 
cm,mm 
pt -> 0.35, 
in -> 2.54, 
pc -> 4.23
relativas: 
em: 16px (equivale al tamaño de una letra) = 1em,
body -> 16px (1em) -> escala : 1.0
hijo -> 1.3 em = 20.8 px
nieto -> 1.3(hijo) =27.4px

rem (root em): 
define la escalabilidad.
:root{
    font-siza: 20px // escala 1.0
}
*/
 body{
    background-color: var(--color-principal-blanco); 
    background-image: url("../img/fondo-shoes.webp") ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: 100px; */
    /* font-style: normal;  */
    /* line-height: 1.6; */
    /* line-height: 1;
    overflow-x: hidden;*/
    /* justify-content: space-between; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 

.contenedor{
    display: block;
    /* opacity: 0.93; */
    padding: 10px;
    flex: 1;


    /*estos son para que el footer quede abajo*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar{
    /* padding: 10px!important;   */
    margin: 0px 10px 0px 10px!important;  
}

h1,h3, h2{
    color: var(--color-principal-blanco);
    /* background-color:rgb(200, 200, 200); */
    font-size: 25px;
    
}

.img {
    width: 100%;        /* Hace que la imagen ocupe todo el ancho disponible de su contenedor */
    height: auto;       /* Mantiene la proporción de la imagen (relación de aspecto) */
  }

  /** inicio navbar**/
  .container-fluid img{
    width: 50px;
    height: 35px;
}

  nav{
    /* position: fixed;  */
    background-color: var(--color-principal-background);
}
.navbar-nav a{
    color: rgb(255, 255, 255);
}
.navbar-toggler{
    color: rgb(255, 255, 255);
}
/* nav li, nav li a{
  color: var(--color-principal-blanco);
} */

.dropdown-menu li a{
    color: #444;  
}
#offcanvasNavbar, .offcanvas-body{
    background-color: var(--color-principal-background);
    padding: 10px;
}

/* .offcanvas-body a{
    color: rgb(255, 255, 255);
} */

#cart-icon {
    /* position: fixed; */
    position: relative;
    /* top: 20px; */
    width: 50px;
    height: 40px;
    justify-content: space-between;
    /* align-items: center ; */
    /* position: absolute; */
    /* align-items: end; */
    display: flex;
    background-color: var(--color-principal-background);
    padding: 0px;
    /*right: 40px;*/  /* Esto lo coloca a 20px del margen derecho */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    z-index: 900;
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

#cart-count {
    /* position: relative; */
    position: absolute;
    top: 2px;
    right: 4px;
    background-color: green;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    }
    
    #cart-count.hidden {
        display: none;
    }
    
    #cart-count.updated {
    transform: scale(1.2);
    }

/*inicio main */
main{ 
    /* transition: padding-top 0.3s ease-in-out; */
    /* position: fixed; */
    margin-top: 55px;
    
}
/* main p{
    background-color: #444;
} */


/** inicio sections**/

/* section carrousel */
#carrousel{
    margin-top: auto;
} 

/* fin carrousel */

/** inicio id: Categorias**/
#categorias, #banner {
    display: flex;
    flex-wrap: wrap;  /* Permite que los elementos se envuelvan a la siguiente línea */
    justify-content: space-evenly; /* Distribuye los elementos de manera uniforme */
    background-color: var(--color-principal-blanco);
    /* opacity: 0.9; */
}

#categorias ul {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten */
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%; /* Hace que el contenedor ocupe todo el ancho disponible */
}

#categorias ul > li {
    display: flex;
    justify-content: center; /* Centra el contenido dentro de cada item */
    margin: 10px;
    transition: opacity 0.3s;
    flex: 1 1 25%; /* Esto hace que los elementos se ajusten y ocupen el 25% del ancho */
    max-width: 300px;  /* Asegura que las imágenes no crezcan demasiado */
}

/* Ajuste de imágenes */
#categorias img, #banner img{
    width: 100%;  /* Las imágenes ocuparán el 100% del ancho del contenedor del li */
    height: auto;
    /* display: block; */
    transition: transform 0.3s ease, filter 0.3s ease; /* Transiciones suaves para movimiento y aclarado */
}

/* Esto asegura que en pantallas más pequeñas, las imágenes se coloquen en una sola columna. */
#categorias ul > li {
    flex: 1 1 100%; /* En pantallas pequeñas las imágenes ocuparán el 100% del contenedor */
    margin-bottom: 5px; 
    object-fit: contain;
}

/* Efecto hover */
#categorias ul > li:hover img {
    filter: brightness(1.2); /* Aclara un poco la imagen */
    transform: scale(1.05); /* Hace que la imagen crezca un 5% */
}


/** inico publicidad **/

#promocion {
    background-color: #f5f5f5;
    color: #333;
    padding: 60px 20px;
}

#promocion h2 {
    font-size: 2.5rem;
    font-family: 'Sofia Sans', sans-serif;
}

#promocion p {
    font-size: 1.2rem;
    color: #555;
}

#promocion .btn {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1.1rem;
}

#promocion .btn:hover {
    background-color: #0056b3;
    border-color: #004085;
}


/**fin publicidad**/

/** fin sections**/

    /***** inicio FOOTER ******/
    footer {
        /* background-color: #333; */
        background-color: var(--color-principal-background);
        /* color: white; */
        color: var(--color-principal-blanco);
        padding: 30px 20px 5px 20px;
        font-family: 'Sofia Sans', sans-serif;
        text-align: center;
        position: relative;
      }
      
      /* Contenedor para las columnas */
      .footer-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        gap: 20px;
      }
      
      /* Estilo para las columnas */
      .footer-column {
        flex: 1 1 30%; /* Toma 30% del espacio disponible y puede reducirse */
        /* min-width: 280px;
        max-width: 320px; */
        min-width: 400px;
        max-width: 410px;
        text-align: left;
      }
      
      .footer-column h4 {
        font-size: 18px;
        margin-bottom: 15px;
        color: white;
      }
      
      .footer-column ul {
        list-style-type: none;
        padding: 0;
      }
      
      .footer-column ul li {
        margin-bottom: 10px;
        font-size: 18px;
      }
      
      .footer-column ul li a {
        text-decoration: none;
        /* color: #bbb; */
        color: var(--color-principal-blanco);
        font-size: 14px;
      }
      
      .footer-column ul li a:hover {
        color: #bbb;
      }
      
      /* Estilo para los enlaces de redes sociales */
      .social-links {
        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-direction: column;
      }
      
      .social-links li {
        display: inline-block;
      }
      
      .social-links li a {
        text-decoration: none;
        /* color: #bbb; */
        /* color: var(--color-principal-blanco); */
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 8px;
      }
      
      .social-links li a:hover {
        color: #fff;
      }
      
      /* Iconos para las redes sociales (utilizando clases de CSS para crear iconos) */
      .icon {
        font-size: 14px;
        transition: transform 0.3s ease;
      }
      
      .social-links li a:hover .icon {
        transform: scale(1.2);
      }
      
      .icon.facebook:before {
        content: '\f09a'; /* Código de icono de Facebook */
      }
      
      .icon.whatsapp:before {
        content: '\f232'; /* Código de icono de WhatsApp */
      }
      
      .icon.instagram:before {
        content: '\f16d'; /* Código de icono de Instagram */
      }
      
      /* Derechos de autor */
      .footer-copyright {
        background-color: #444;
        padding: 0px 0;
        color: var(--color-principal-blanco);
        font-size: 14px;
      }
      
      .footer-copyright p {
        margin: 0;
      }
      
      /* Agregar una sombra suave a los iconos para mejorar la visibilidad */
      .icon {
        text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
      }
/***** fin FOOTER******/

/** Extras **/

#sitioEnConstruccion{
    width: 100%;
    height: auto;
}